

<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <div class="v188_80">
        
            <ion-icon name="arrow-back" class="v188_83" routerLink="/select"></ion-icon>

       
        <span class="v188_84">Bookmarks</span>
        <div class="v188_85"></div>
        <div class="v366_6">
            <div class="v188_102"></div>
            <div class="v188_103"></div>
            <div class="v188_111"></div>
            <div class="v188_112">
                <div class="v188_113"></div>
                <span class="v188_114">KARINA PUNCHA</span>
                <span class="v188_132"></span>
                <span class="v188_133"></span>
                <span class="v188_134"></span>
                <span class="v188_115">car owner</span>
            </div>
            <div class="v188_116"></div>
            <ion-icon name="people-outline" class="v188_117"></ion-icon>
            <ion-icon name="cog-outline"  class="v188_131"></ion-icon>
            <ion-icon name="color-fill-outline" class="v188_127"></ion-icon>
        </div>
        <div class="v366_5">
            <div class="v188_139">
                <div class="v188_140"></div>
                <div class="v188_141"></div>
            </div>
            <div class="v188_148">
                <div class="v188_149"></div>
                <span class="v188_150">KARINA PUNCHA</span>
                <span class="v188_151"></span>
                <span class="v188_152"></span>
                <span class="v188_153"></span>
                <span class="v188_154">car owner</span>
            </div>
            <div class="v188_163"></div>
            <ion-icon name="people-outline" class="v188_155"></ion-icon>
            <ion-icon name="cog-outline" class="v188_159"></ion-icon>
            <ion-icon name="color-fill-outline" class="v188_156"></ion-icon>
            <div class="v188_160"></div>
        </div>
        <div class="v366_7">
            <div class="v188_142">
                <div class="v188_143"></div>
                <div class="v188_144"></div>
            </div>
            <div class="v188_164">
                <div class="v188_165"></div>
                <span class="v188_166">KARINA PUNCHA</span>
                <span class="v188_167"></span>
                <span class="v188_168"></span>
                <span class="v188_169"></span>
                <span class="v188_170">car owner</span>
            </div>
            <div class="v188_178"></div>
            <ion-icon name="people-outline" class="v188_180"></ion-icon>
            <ion-icon name="cog-outline" class="v188_188"></ion-icon>
            <ion-icon name="color-fill-outline" class="v188_182"></ion-icon>
        </div>
        <div class="v366_9">
            <div class="v188_145">
                <div class="v188_146"></div>
                <div class="v188_147"></div>
            </div><div class="v188_171">
                <div class="v188_172"></div>
                <span class="v188_173">KARINA PUNCHA</span>
                <span class="v188_174"></span>
                <span class="v188_175"></span>
                <span class="v188_176"></span>
                <span class="v188_177">car owner</span>
            </div>
            <div class="v188_179"></div>
            <ion-icon name="people-outline" class="v188_181"></ion-icon>
            <ion-icon name="cog-outline" class="v188_189"></ion-icon>
            <ion-icon name="color-fill-outline" class="v188_185"></ion-icon>
            <div class="v188_191"></div>
        </div><div class="v366_10">
            <div class="v228_3">
                <div class="v228_4"></div>
                <div class="v228_5"></div>
            </div><div class="v228_7">
                <div class="v228_8"></div>
                <span class="v228_9">KARINA PUNCHA</span>
                <span class="v228_10"></span>
                <span class="v228_11"></span>
                <span class="v228_12"></span>
                <span class="v228_13">car owner</span>
            </div>
            <div class="v228_14"></div>
            <ion-icon name="people-outline" class="v228_15"></ion-icon>
            <ion-icon name="color-fill-outline" class="v228_16"></ion-icon>
            <ion-icon name="cog-outline" class="v228_19"></ion-icon>
            </div>
            <div class="v228_6"></div>
        </div>
        <div class="v456_7"></div>
       
        
    
</body>
</ion-content>
