

<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <div class="v783_256">
        <div class="v783_257"></div>
        <span class="v783_261">Receipt</span>
        <span class="v783_263">Thanks for using Arkila, Caroline</span> 
        <span class="v783_264">We really hope your ride  was enjoyable!</span>
        <span class="v783_290">Payment Detail</span>
        <div class="v1383_434">
<div class="v783_282"></div>
<div class="v1383_422">
    <span class="v783_283">Total</span>
    <span class="v783_284">P 2300.00</span>
    <span class="v783_285">Trip Fare</span>
    <span class="v783_286">Driver’s Fee</span>
    <span class="v783_287">P 1600.00</span>
    <span class="v783_288">P 600.00</span>
    <span class="v783_289">P 100.00</span>
    <span class="v783_291">Other Charges, and fees</span>
</div>
<div class="v1383_424">
    <div class="v783_292"></div>
    <span class="v783_293">Payment</span>
    
    <span class="v783_295">Dec 23, 2024  6:30 PM</span>
    <span class="v783_296">P 2,300.00</span>
</div>
<span class="v783_307">Cancellation Policy Reminder: The 30% down payment is NON-REFUNDABLE  if canceled.</span>
    <div class="v783_313">
        <div class="v1383_423">
            <div class="v783_314"></div>
            <span class="v783_315">CANCEL BOOKING</span>
        </div>
    </div>
</div>
<div class="v1383_429">
    <div class="v783_265">
        <div class="v783_266"></div>
        <div class="v783_267"></div>
        <div class="v783_268"></div>
        <div class="v783_269">
            <div class="v783_270"></div>
            <span class="v783_271">KARINA PUNCHA</span>
            <span class="v783_272">5</span>
            <span class="v783_273">999</span>
            <span class="v783_274">AT</span>
            <span class="v783_275">car owner</span>
        </div>
        <div class="v783_276"></div>
        <ion-icon name="cog-outline"  class="v783_277"></ion-icon>
        <ion-icon name="cash-outline" class="v783_278"></ion-icon>
        <ion-icon name="people-outline" class="v783_279"></ion-icon>
            
    </div>
    <span class="v979_247">09123456789</span>
</div>
<ion-icon name="arrow-back" class="v1383_430"routerLink="/locdatedur"></ion-icon>
<div class="v1383_435">
    <div class="name"></div>
</div>
</div>
</body>
</ion-content>
