

<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <div class="v1009_239">
    <div class="v1009_296">
    <div class="v1009_297"></div>
    <div class="v1009_298">
       
<ion-icon name="person-outline" class="v1009_299" routerLink="/profile" ></ion-icon>
        
    </div>
    <ion-icon name="notifications-outline" class="v1009_303" routerLink="/notifications" ></ion-icon>
         <ion-icon name="bookmarks-outline" class="v1009_304" routerLink="/user-bookmark"></ion-icon>
        </div>
        <div class="v1009_305"></div>
        </div>
        <ion-icon name="home-outline" class="v1009_306"></ion-icon>
        <div class="v1268_276">
          <div class="v1268_275">
          <div class="v1268_273">
            <div class="v1268_271">
            <div class="v1047_246">
              <div class="v1047_247">
              <div class="v1047_248">
                <div class="name"></div>
              <div class="name"></div>
              <div class="name"></div>
              <div class="name"></div>
              <div class="name"></div>
              <div class="name"></div>
              <span class="v1268_272">Hatchback</span>
            </div>
            <span class="v1268_267">All</span>
            <span class="v1268_268">Van</span>
            <span class="v1268_269">Motorcyle</span>
            <span class="v1268_270">SUV</span></div></div></div>
          </div>
        </div>
      </div>
          <div class="v1383_261"><div class="v1009_240"></div>
          <div class="v1009_249" routerLink="/moredetails">
            <div class="v1009_250" routerLink="/moredetails"></div>
            <span class="v1009_251" routerLink="/moredetails">TOYOTA HIACE</span>
          <span class="v1009_252" routerLink="/moredetails">1899/DAY</span>
          <div class="v1009_253">
            <div class="v1009_254"> </div>
        </div>
      </div>
      <div class="v1009_255">
        <div class="v1009_256"></div>
      <span class="v1009_257">SONATA</span>
      <span class="v1009_258">999/DAY</span>
      <div class="v1009_259">
        <div class="v1009_260"></div>
      <div class="v1009_261"></div>
    </div>
  </div>
  <div class="v1009_262"></div>
  <div class="v1009_263"></div>
 
  <div class="v1009_265">
    <div class="v1009_266"></div>
  <ion-icon name="bookmark-outline" class="v1009_267"></ion-icon>
  <div class="v1009_268"></div>
  <div class="v1009_271"></div>
  <span class="v1009_269">LAND CRUISER</span>
  <span class="v1009_270">1499/DAY</span>

  
</div>
<ion-icon name="bookmark-outline" class="v1009_272"></ion-icon>

<div class="v1009_274">
  <div class="v1009_275"></div>
<span class="v1009_276">MUX</span>
<span class="v1009_277">1699/DAY</span>
<div class="v1009_278"> 
  <div class="v1009_279"> </div>
<div class="v1009_280"></div>
</div>
</div>
<ion-icon name="bookmark-outline" class="v1009_281"></ion-icon>
<ion-icon name="bookmark-outline" class="v1009_282"></ion-icon>
<ion-icon name="bookmark-outline" class="v1009_283"></ion-icon> 
<div class="v1009_284">
  <div class="v1009_285"></div>
<span class="v1009_286">ELF</span>
<span class="v1009_287">1699/DAY</span>
<div class="v1009_288"></div>
<div class="v1009_289"></div>
<ion-icon name="bookmark-outline" class="v1009_290"></ion-icon>
</div>
<div class="v1009_291">
  <div class="v1009_292"></div>
<span class="v1009_293">CLICK 125</span>
<span class="v1009_294">499/DAY</span>
</div>

<ion-toggle aria-label="Secondary toggle" color="primary" [checked]="true" class="v1009_307"></ion-toggle>
<ion-toggle aria-label="Secondary toggle" color="primary" [checked]="true" class="v1009_310"></ion-toggle>
<ion-toggle aria-label="Secondary toggle" color="primary" [checked]="true" class="v1009_313"></ion-toggle>
<ion-toggle aria-label="Secondary toggle" color="primary" [checked]="true" class="v1009_316"></ion-toggle>
<ion-toggle aria-label="Secondary toggle" color="primary" [checked]="true" class="v1009_319"></ion-toggle>
<ion-toggle aria-label="Secondary toggle" color="primary" [checked]="true" class="v1009_322"></ion-toggle>

</div>
<ion-searchbar class="v1383_305"></ion-searchbar>

    <ion-label></ion-label>
    <ion-input></ion-input>
    <ion-icon name="search-outline" class="v1009_244"></ion-icon>
  
  <div class="name">  

