<ion-content class="ion-padding">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <div class="v1034_246">
        <div class="v1712_801">
            <div class="v1051_257"></div>
          
            <span class="v1051_259">Continue with </span>
            <div class="v1051_262"> <ion-img src="../../assets/v1051_262.png"></ion-img></div>
        </div>
        <div class="v1712_800">
            <div class="v1051_258"></div>
            <span class="v1051_263">Down payment upon Pick-up</span>
        </div>
    </div>
    </ion-modal>
</body>
</ion-content>
