<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <div class="v890_244">
        <span class="v890_248">History</span>
        <div class="v890_249"></div>
        <div class="v890_250">
            <div class="v890_251"></div>
            <div class="v890_252"></div>
            <div class="v890_253"></div>
            <div class="v890_254">
                <div class="v890_255"></div>
                <span class="v890_256">KARINA PUNCHA</span>
                <span class="v890_257"></span>
                <span class="v890_258"></span>
                <span class="v890_259"></span>
                <span class="v890_260">car owner</span>
            </div>
            <div class="v890_261"></div>
            <ion-icon name="people-outline" class="v890_262"></ion-icon>
            <ion-icon name="cog-outline"  class="v890_263"></ion-icon>
            <ion-icon name="color-fill-outline" class="v890_264"></ion-icon>
            
        </div>
        <div class="v890_267">
            <div class="v890_268">
                <div class="v890_269"></div>
                <div class="v890_270"></div>
            </div>
            <div class="v890_271">
                <div class="v890_272"></div>
                <span class="v890_273">KARINA PUNCHA</span>
                <span class="v890_274"></span>
                <span class="v890_275"></span>
                <span class="v890_276"></span>
                <span class="v890_277">car owner</span>
            </div>
            <div class="v890_278"></div>
            <ion-icon name="people-outline" class="v890_279"></ion-icon>
            <ion-icon name="cog-outline"  class="v890_280"></ion-icon>
            <ion-icon name="color-fill-outline" class="v890_281"></ion-icon>
                
            <div class="v890_284"></div>
        </div>
        <div class="v890_285">
            <div class="v890_286">
                <div class="v890_287"></div>
                <div class="v890_288"></div>
            </div>
            <div class="v890_289">
                <div class="v890_290"></div>
                <span class="v890_291">KARINA PUNCHA</span>
                <span class="v890_292"></span>
                <span class="v890_293"></span>
                <span class="v890_294"></span>
                <span class="v890_295">car owner</span>
            </div>
            <div class="v890_296"></div>
            <ion-icon name="people-outline" class="v890_297"></ion-icon>
            <ion-icon name="cog-outline"  class="v890_298"></ion-icon>
            <ion-icon name="color-fill-outline" class="v890_299"></ion-icon>
                
        </div>
        <div class="v890_302">
            <div class="v890_303">
                <div class="v890_304"></div>
                <div class="v890_305"></div>
            </div>
            <div class="v890_306">
                <div class="v890_307"></div>
                <span class="v890_308">KARINA PUNCHA</span>
                <span class="v890_309"></span>
                <span class="v890_310"></span>
                <span class="v890_311"></span>
                <span class="v890_312">car owner</span>
            </div>
            <div class="v890_313"></div>
            <ion-icon name="people-outline" class="v890_314"></ion-icon>
            <ion-icon name="cog-outline"  class="v890_315"></ion-icon>
            <ion-icon name="color-fill-outline" class="v890_316"></ion-icon>
                
            <div class="v890_319"></div>
        </div>
        <div class="v890_320">
            <div class="v890_321">
                <div class="v890_322"></div>
                <div class="v890_323"></div>
            </div>
            <div class="v890_324">
                <div class="v890_325"></div>
                <span class="v890_326">KARINA PUNCHA</span>
                <span class="v890_327"></span>
                <span class="v890_328"></span>
                <span class="v890_329"></span>
                <span class="v890_330">car owner</span>
            </div>
            <div class="v890_331"></div>
            <ion-icon name="people-outline" class="v890_332"></ion-icon>
            <ion-icon name="cog-outline"  class="v890_333"></ion-icon>
            <ion-icon name="color-fill-outline" class="v890_334"></ion-icon>
                
            <div class="v890_337"></div>
        </div>
        <div class="v890_338"></div>
        <div class="v890_339"></div>
        <div class="v890_343"></div>
        <span class="v890_344">TO RATE</span>
        <span class="v946_320">TO RATE</span>
        <div class="v1386_562">
            <div class="v1386_563"> <ion-icon name="arrow-back" class="v1386_563" routerLink="/profile"></ion-icon>
                <div class="v1386_564"></div>
            </div>
        </div>
        <div class="v1386_544">
            <div class="name"></div>
        </div>
    </div>
</body>
</ion-content>
