* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v890_244 {
    width: 430px;
    height: 929px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v890_248 {
    width: 74px;
    color: rgba(57,161,195,1);
    position: absolute;
    top: 75px;
    left: 175px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v890_249 {
    width: 350px;
    height: 867px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 0px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    overflow: hidden;
  }
  .v890_250 {
    width: 379px;
    height: 134px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 14px;
    overflow: hidden;
  }
  .v890_251 {
    width: 323px;
    height: 120px;
    background: rgba(255,253,253,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_252 {
    width: 81px;
    height: 77px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
  }
  .v890_253 {
    width: 120px;
    height: 53px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 124px;
    overflow: hidden;
  }
  .v890_254 {
    width: 217px;
    height: 83px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 110px;
    overflow: hidden;
  }
  .v890_255 {
    width: 200px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(57,161,195,1);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_256 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 7px;
    left: 25px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_257 {
    width: 20px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 47px;
    left: 50px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_258 {
    width: 46px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 49px;
    left: 108px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_259 {
    width: 24px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 49px;
    left: 190px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_260 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 24px;
    left: 25px;
    font-family: Poppins;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v890_261 {
    width: 42px;
    height: 42px;
    
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 152px;
    border-radius: 50%;
  }
  .v890_262 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 150px;
  }
  .v890_263 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 250px;
  }
  .v890_264 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: hidden;
  }
  .v890_265 {
    width: 8px;
    height: 11px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v890_266 {
    width: 13px;
    height: 8px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 7px;
  }
  .v890_267 {
    width: 379px;
    height: 134px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 14px;
    overflow: hidden;
  }
  .v890_268 {
    width: 379px;
    height: 134px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v890_269 {
    width: 323px;
    height: 120px;
    background: rgba(255,253,253,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_270 {
    width: 81px;
    height: 77px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
  }
  .v890_271 {
    width: 217px;
    height: 101px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 110px;
    overflow: hidden;
  }
  .v890_272 {
    width: 200px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(57,161,195,1);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_273 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 7px;
    left: 25px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_274 {
    width: 20px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 62px;
    left: 50px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_275 {
    width: 46px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 60px;
    left: 108px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_276 {
    width: 24px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 60px;
    left: 190px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_277 {
    width: 135px;
    color: rgb(160, 140, 153);
    position: absolute;
    top: 24px;
    left: 25px;
    font-family: Poppins;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v890_278 {
    width: 42px;
    height: 42px;
    
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 158px;
    border-radius: 50%;
  }
  .v890_279 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 150px;
  }
  .v890_280 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 250px;
  }
  .v890_281 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: hidden;
  }
  .v890_282 {
    width: 8px;
    height: 11px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v890_283 {
    width: 13px;
    height: 8px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 7px;
  }
  .v890_284 {
    width: 129px;
    height: 77px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 6px;
    overflow: hidden;
  }
  .v890_285 {
    width: 379px;
    height: 134px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 415px;
    left: 14px;
    overflow: hidden;
  }
  .v890_286 {
    width: 350px;
    height: 134px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v890_287 {
    width: 323px;
    height: 120px;
    background: rgba(255,253,253,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_288 {
    width: 81px;
    height: 77px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
  }
  .v890_289 {
    width: 217px;
    height: 89px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 110px;
    overflow: hidden;
  }
  .v890_290 {
    width: 200px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(57,161,195,1);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_291 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 7px;
    left: 25px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_292 {
    width: 20px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 53px;
    left: 50px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_293 {
    width: 46px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 53px;
    left: 108px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_294 {
    width: 24px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 53px;
    left: 190px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_295 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 24px;
    left: 25px;
    font-family: Poppins;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v890_296 {
    width: 42px;
    height: 42px;
    
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 155px;
    border-radius: 50%;
  }
  .v890_297 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 150px;
  }
  .v890_298 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 250px;
  }
  .v890_299 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: hidden;
  }
  .v890_300 {
    width: 8px;
    height: 11px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v890_301 {
    width: 13px;
    height: 8px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 6px;
  }
  .v890_302 {
    width: 379px;
    height: 134px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 14px;
    overflow: hidden;
  }
  .v890_303 {
    width: 379px;
    height: 134px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v890_304 {
    width: 323px;
    height: 120px;
    background: rgba(255,253,253,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_305 {
    width: 81px;
    height: 77px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
  }
  .v890_306 {
    width: 217px;
    height: 101px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 110px;
    overflow: hidden;
  }
  .v890_307 {
    width: 200px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(57,161,195,1);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_308 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 7px;
    left: 25px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_309 {
    width: 20px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 62px;
    left: 50px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_310 {
    width: 46px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 60px;
    left: 108px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_311 {
    width: 24px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 62px;
    left: 187px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_312 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 24px;
    left: 25px;
    font-family: Poppins;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v890_313 {
    width: 42px;
    height: 42px;
    
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 152px;
    border-radius: 50%;
  }
  .v890_314 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 150px;
  }
  .v890_315 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 250px;
  }
  .v890_316 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: hidden;
  }
  .v890_317 {
    width: 8px;
    height: 11px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v890_318 {
    width: 13px;
    height: 8px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 6px;
  }
  .v890_319 {
    width: 120px;
    height: 74px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 8px;
    overflow: hidden;
  }
  .v890_320 {
    width: 379px;
    height: 134px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 685px;
    left: 14px;
    overflow: hidden;
  }
  .v890_321 {
    width: 379px;
    height: 134px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v890_322 {
    width: 323px;
    height: 120px;
    background: rgba(255,253,253,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_323 {
    width: 81px;
    height: 77px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
  }
  .v890_324 {
    width: 217px;
    height: 101px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 110px;
    overflow: hidden;
  }
  .v890_325 {
    width: 200px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(57,161,195,1);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v890_326 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 7px;
    left: 25px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_327 {
    width: 20px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 62px;
    left: 50px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_328 {
    width: 46px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 60px;
    left: 108px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_329 {
    width: 24px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 62px;
    left: 187px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v890_330 {
    width: 135px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 24px;
    left: 25px;
    font-family: Poppins;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v890_331 {
    width: 42px;
    height: 42px;
   
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 151px;
    border-radius: 50%;
  }
  .v890_332 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 150px;
  }
  .v890_333 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 250px;
  }
  .v890_334 {
    width: 20px;
    height: 30px;
    color: rgba(57,161,195,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: hidden;
  }
  .v890_335 {
    width: 8px;
    height: 11px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v890_336 {
    width: 13px;
    height: 8px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 6px;
  }
  .v890_337 {
    width: 113px;
    height: 93px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 135px;
    overflow: hidden;
  }
  .v890_338 {
    width: 118px;
    height: 80px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 484px;
    left: 29px;
    overflow: hidden;
  }
  .v890_339 {
    width: 115px;
    height: 20px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 243px;
    left: 160px;
    
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v890_343 {
    width: 115px;
    height: 20px;
    background: rgba(57,161,195,1);
    opacity: 1;
    position: absolute;
    top: 513px;
    left: 160px;
    
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v890_344 {
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 516px;
    left: 195px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v946_320 {
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 247px;
    left: 195px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v1386_562 {
    width: 38px;
    height: 33px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 70px;
    left: 39px;
    overflow: hidden;
  }
  .v1386_563 {
    width: 38px;
    height: 33px;
    color: rgba(57,161,195,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1386_564 {
    width: 38px;
    height: 33px;
    color: rgba(57,161,195,1);
    opacity: 1;
    position: relative;

    top: 0px;
    left: 0px;
  }
  .v1386_544 {
    width: 390px;
    height: 54px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 20px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  