* {
    box-sizing: border-box;
  }
  .v186_48 {
    width: 354px;
    height: 100%;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    overflow: hidden;
  }
  body {
    font-size: 14px;
  }
  .v1672_698 {
    width: 430px;
    height: 932px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1672_699 {
    width: 9px;
    height: 5px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 498px;
    left: 328px;
  }
  .v1672_700 {
    width: 9px;
    height: 5px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 491px;
    left: 328px;
  }
  .v1672_701 {
    width: 9px;
    height: 5px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 592px;
    left: 327px;
  }
  .v1672_702 {
    width: 9px;
    height: 5px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 585px;
    left: 327px;
  }
  .v1672_703 {
    width: 9px;
    height: 5px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 639px;
    left: 327px;
  }
  .v1672_704 {
    width: 9px;
    height: 5px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 632px;
    left: 327px;
  }
  .v1672_705 {
    width: 133px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 39px;
    left: 120px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v1672_706 {
    width: 430px;
    height: 887px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 430px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    overflow: hidden;
  }
  .v1672_820 {
    width: 294px;
    height: 54px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 465px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_821 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 15px;
    left: 7px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_822 {
    width: 294px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_824 {
    width: 294px;
    height: 54px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 525px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_825 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_826 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_828 {
    width: 294px;
    height: 54px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 585px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_829 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_830 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_836 {
    width: 294px;
    height: 54px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 705px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_837 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_838 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_832 {
    width: 294px;
    height: 54px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 645px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_833 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_834 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_745 {
    width: 152px;
    height: 42px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 785px;
    left: 100px;
    
    overflow: hidden;
  }
  .v1672_746 {
    width: 152px;
    height: 42px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 56px;
    border-top-right-radius: 56px;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    overflow: hidden;
  }
  .v1672_747 {
    width: 127px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 5px;
    left: 13px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v1672_761 {
    width: 38px;
    height: 33px;
    color: rgba(154,153,141,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 30px;
    overflow: hidden;
  }
  .v1672_762 {
    width: 38px;
    height: 33px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1672_796 {
    width: 294px;
    height: 54px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 225px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_786 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_785 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_795 {
    width: 294px;
    height: 54px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_789 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_790 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_815 {
    width: 294px;
    height: 54px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 405px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_816 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 15px;
    left: 7px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_817 {
    width: 294px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_819 {
    width: 294px;
    height: 54px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 345px;
    left: 35px;
    overflow: hidden;
  }
  .v1672_797 {
    width: 294px;
    height: 54px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1672_798 {
    width: 200px;
    color: rgba(154,153,141,1);
    position: absolute;
    top: 6px;
    left: 7px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v1672_799 {
    width: 294px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v1672_808 {
    width: 18px;
    height: 23px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 269px;
    overflow: hidden;
  }
  .v1672_809 {
    width: 18px;
    height: 14px;
    background: rgba(129,115,115,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
    border-top-left-radius: 112px;
    border-top-right-radius: 112px;
    border-bottom-left-radius: 112px;
    border-bottom-right-radius: 112px;
    overflow: hidden;
  }
  .v1672_810 {
    width: 18px;
    height: 14px;
    
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1672_811 {
    width: 9px;
    height: 4px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 4px;
  }
  .v1672_812 {
    width: 18px;
    height: 14px;
    background: rgba(129,115,115,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border-top-left-radius: 112px;
    border-top-right-radius: 112px;
    border-bottom-left-radius: 112px;
    border-bottom-right-radius: 112px;
    overflow: hidden;
  }
  .v1672_813 {
    width: 18px;
    height: 14px;
   
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1672_814 {
    width: 9px;
    height: 4px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 4px;
  }
  .v1672_707 {
    width: 294px;
    height: 97px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 30px;
    overflow: hidden;
  }
  .v1672_708 {
    width: 294px;
    height: 97px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v1672_709 {
    width: 208px;
    color: rgba(160,140,140,1);
    position: absolute;
    top: 64px;
    left: 42px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }
  .v1672_710 {
    width: 92px;
    height: 56px;
    color:rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 103px;
    overflow: hidden;
  }
  .v1672_711 {
    width: 92px;
    height: 56px;
   
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1672_712 {
    width: 41px;
    height: 42px;
    background: rgba(154,153,141,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 23px;
  }
  .v1672_763 {
    width: 390px;
    height: 54px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 20px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  
