

<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    
  
  <div class="v1672_698">
    <div class="v186_48"></div>
    <div class="v1672_699"></div>
    <div class="v1672_700"></div>
    <div class="v1672_701"></div>
    <div class="v1672_702"></div>
    <div class="v1672_703"></div>
    <div class="v1672_704"></div>
    <span class="v1672_705">Upload a Car</span>
    <div class="v1672_706"></div>
    
    <div class="v1672_820">
        <ion-select aria-label="transmission" interface="popover" placeholder="Transmission" class="v1672_821"> 
          <ion-select-option value="mt">Manual Transmission</ion-select-option>
          <ion-select-option value="at">Automatic Transmission</ion-select-option>
          <ion-select-option value="dct">Dual-Clutch Transmission</ion-select-option>
          <ion-select-option value="amt">Automated Manual Transmission</ion-select-option>
          <ion-select-option value="cvt">Continously Variable Transmission</ion-select-option>
        </ion-select>
        <div class="v1672_822"></div>
    </div>
    <div class="v1672_824">
        <ion-input label="Plate Number" labelPlacement="floating" placeholder="Enter text" class="v1672_825"></ion-input>
        <div class="v1672_826"></div>
    </div>
    <div class="v1672_828">
        <ion-input label="Car Model" labelPlacement="floating" placeholder="Enter text" class="v1672_829"></ion-input>
        <div class="v1672_830"></div>
    </div>
    <div class="v1672_836">
        <ion-input label="Price with Fuel" labelPlacement="floating" placeholder="Enter text" class="v1672_837"></ion-input>
        <div class="v1672_838"></div>
    </div>
    <div class="v1672_832">
        <ion-input label="Price" labelPlacement="floating" placeholder="Enter text" class="v1672_833"></ion-input>
        <div class="v1672_834"></div>
    </div>
    <div class="v1672_745" routerLink="/uploaddocs">
        <div class="v1672_746" routerLink="/uploaddocs"></div>
        <span class="v1672_747" routerLink="/uploaddocs">save</span>
    </div>
   <ion-icon name="arrow-back" class="v1672_761" routerLink="/personal-info"></ion-icon>
        
    <div class="v1672_796">
       <ion-input label="Car Brand" labelPlacement="floating" placeholder="Enter text" class="v1672_786"></ion-input>
       <div class="v1672_785"></div>
    </div>
    <div class="v1672_795">
        <ion-input label="Seat Capacity" labelPlacement="floating" placeholder="Enter text" class="v1672_789"></ion-input>
        <div class="v1672_790"></div>
    </div>
    <div class="v1672_815">
        <ion-select aria-label="fuel type" interface="popover" placeholder="Fuel Type" class="v1672_816"> 
          <ion-select-option value="gas">Gasoline</ion-select-option>
          <ion-select-option value="disiel">Diesel Fuel</ion-select-option>
          <ion-select-option value="biodiesel">Biodiesel</ion-select-option>
          <ion-select-option value="ttdg">Top Tier Detergent Gasoline</ion-select-option>
          <ion-select-option value="kerosene">Kerosene</ion-select-option>
          <ion-select-option value="premium fuel">Premium Fuel</ion-select-option>
          <ion-select-option value="regular oil">Regular Oil</ion-select-option>
          <ion-select-option value="solar oil">Solar Oil</ion-select-option>
        </ion-select>
        <div class="v1672_817"></div>
    </div>
    <div class="v1672_819">
        <div class="v1672_797">
            <ion-input label="Yeal Model" labelPlacement="floating" placeholder="Enter text" class="v1672_798"></ion-input>
            <div class="v1672_799"></div>
        </div>
      
    </div>
    <div class="v1672_707">
        <div class="v1672_708"></div>
        <span class="v1672_709">upload photos of your car</span>
        <ion-icon name="image-outline" class="v1672_710"></ion-icon>
            
        
    </div>
    <div class="v1672_763">
        <div class="name"></div>
    </div>
</div>
</body>
</ion-content>
