
<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <div class="v50_1064">
        <div class="v60_11"></div>
        <div class="v1149_359">
            <div class="v1149_360"></div>
            <ion-input class="v1149_361" placeholder="contact number"></ion-input>
        </div>
        <div class="v323_2">
            <div class="v60_13"></div>
            <ion-input class="v60_19"  placeholder="name"></ion-input>
        </div>
        <div class="v323_3">
            <div class="v60_12"></div>
            <ion-input class="v60_20"  placeholder="age"></ion-input>
        </div>
        <div class="v323_4">
            <div class="v60_17"></div>
            <ion-input class="v60_22"  placeholder="email"></ion-input>
        </div>
        <div class="v323_5">
            <div class="v60_18"></div>
            <ion-input class="v60_23"  placeholder="password"></ion-input>
        </div>
        <span class="v61_9">Valid ID</span>
        <div class="v323_6">
            <div class="v61_11">
                        <ion-select aria-label="ID" interface="popover" placeholder="List of accepted ID's" class="v61_19"> 
                            <ion-select-option value="sss">SSS ID</ion-select-option>
                            <ion-select-option value="postal">POSTAL ID</ion-select-option>
                            <ion-select-option value="gsis">GSIS</ion-select-option>
                            <ion-select-option value="passport">PASSPORT</ion-select-option>
                            <ion-select-option value="prc">PRC ID</ion-select-option>
                            <ion-select-option value="national">NATIONAL ID</ion-select-option>
                            <ion-select-option value="driver's">DRIVER'S LICENSE</ion-select-option>
                            <ion-select-option value="voter's">VOTER'S ID</ion-select-option>
                        </ion-select>
            </div>
        </div>
        <span class="v61_10">Valid ID</span>
        <div class="v323_7">
            <div class="v60_26"></div>
        <span class="v60_29">uploadaphoto</span>
       <ion-icon name="image-outline" class="v61_3"></ion-icon>
            
       
    </div>
</div>
 
    

<div class="v323_12" routerLink="/uploadcar">
    <div class="v94_4" routerLink="/uploadcar"></div>
    <span class="v94_5" routerLink="/uploadcar">register</span>
</div>
<span class="v94_7">your road trip starts here!</span>
<ion-icon name="arrow-back" class="v96_8" routerLink="/profile"></ion-icon>

<div class="v323_8">
    <div class="v60_27"></div>
    <span class="v60_30">uploadaphoto</span>
    <ion-icon name="image-outline" class="v61_6"></ion-icon>
       
    
</div>

</body>
</ion-content>
