

<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <div class="v728_452">
        <div class="v728_453"></div>
        <div class="v728_454"></div>
        <span class="v728_458">JENNIE KIM</span>
        <span class="v728_459">My Profile</span>
        <div class="v728_460">
            <div class="v728_461"></div>
            <span class="v728_462" routerLink="/home">SIGN OUT</span>
            <div class="v728_463"></div>
        </div>
        
       
        <div class="v728_468">
            <div class="v728_469"></div>
            <span class="v728_470">FAQ's</span>
            <ion-icon name="chevron-forward-outline" class="v728_471"></ion-icon>
        </div>
        <div class="v728_472"routerLink="/history">
            <div class="v728_473"></div>
            <span class="v728_474">HISTORY</span>
            <ion-icon name="chevron-forward-outline" class="v728_475"></ion-icon>
        </div>
        
        <div class="v728_476">
            <div class="v728_477"></div>
            <span class="v728_478">REWARDS</span>
            <ion-icon name="chevron-forward-outline" class="v728_479"></ion-icon>
        </div>
        <div class="v728_480">
            <div class="v728_481"></div>
            <span class="v728_482">VIEW AGREEMENT</span>
            <ion-icon name="chevron-forward-outline" class="v728_483"></ion-icon>
        </div>
        <div class="v728_490"  routerLink="/personal-info">
            <div class="v728_491" routerLink="/personal-info"></div>
            <span class="v728_492" routerLink="/personal-info">BE A CAR OWNER</span>
            <ion-icon name="chevron-forward-outline" class="v728_493" routerLink="/personal-info"></ion-icon>
        </div>
        <div class="v728_484">
            <div class="v728_485"></div>
            <span class="v728_486">RULES & REGULATIONS</span>
            <ion-icon name="chevron-forward-outline" class="v728_487"></ion-icon>
        </div>
        <ion-icon name="arrow-back" class="v1383_486" routerLink="/select">Back</ion-icon>
        
</div>
</body>
</ion-content>
