
<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <body>
    <div class="v1035_248">
        <div class="v116_14" >
            <ion-button class="v116_15" id="open-modal" expand="v1034_246"> <span class="v116_16"> PAY NOW</span></ion-button>
          </div>
          <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
            <ng-template>
            <div class="v1034_246">
                <div class="v1712_801">
                    <div class="v1051_257"></div>
                    <span class="v1051_259">Continue with </span>
                    <div class="v1051_262"> <ion-img src="../../assets/v1051_262.png"></ion-img></div>
                </div>
                <div class="v1712_800">
                    <div class="v1051_258"></div>
                    <span class="v1051_263">Down payment upon Pick-up</span>
                </div>
            </div>
          </ng-template>
            </ion-modal>
        <div class="v1037_250"></div>
        <div class="v1037_251"></div>
        <ion-select aria-label="location" interface="popover" placeholder="Pick Up Location" class="v1038_252"> 
          <ion-select-option value="cuntapay">Cuntapay St</ion-select-option>
          <ion-select-option value="andal">Andal St</ion-select-option>
          <ion-select-option value="mabini">Mabini St</ion-select-option>
          <ion-select-option value="maribbay">Maribbay St</ion-select-option>
          <ion-select-option value="heart">imong heart</ion-select-option>
          <ion-select-option value="lecaros">Lecaros St</ion-select-option>
          <ion-select-option value="arellano">Arellano St</ion-select-option>
          <ion-select-option value="gonzaga">Gonzaga St</ion-select-option>
        </ion-select>
        <div class="v1038_259"></div>
        <ion-icon name="compass-outline" class="v1038_367"></ion-icon>
        <div class="v1038_368"></div>
        <div class="v1038_369"></div>
        <div class="v1038_378"></div>
        <span class="v1038_370">Pick Up Date</span>
        <ion-select aria-label="duration" interface="popover" placeholder="Duration" class="v1038_379"> 
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">forever</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="13">13</ion-select-option>
          <ion-select-option value="14">14</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
          <ion-select-option value="17">17</ion-select-option>
          <ion-select-option value="18">18</ion-select-option>
          <ion-select-option value="19">19</ion-select-option>
          <ion-select-option value="21">21</ion-select-option>
          <ion-select-option value="22">22</ion-select-option>
          <ion-select-option value="23">23</ion-select-option>
          <ion-select-option value="24">24</ion-select-option>
          <ion-select-option value="25">25</ion-select-option>
          <ion-select-option value="26">26</ion-select-option>
          <ion-select-option value="27">27</ion-select-option>
          <ion-select-option value="28">28</ion-select-option>
          <ion-select-option value="29">29</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
        </ion-select>
        <div class="v1038_372"></div>
        <div class="v1038_380"></div>
        <ion-icon name="calendar-outline" class="v1038_373"></ion-icon>
           
        <ion-icon name="calendar-number-outline" class="v1038_381"></ion-icon>
        <span class="v358_44">Pick Up Date:</span>
        <span class="v358_45">Duration:</span>
        <span class="v115_8">Total Price:</span>
        <span class="v115_11">7495.00</span>
        <span class="v1041_257">Pick Up Location:</span>
        <span class="v1041_258">Cuntapay St., Ugac Sur</span>
        <span class="v1039_247">05/19/2024</span>
        <span class="v1039_248">5 days</span>
        <span class="v1039_251">300.00</span>
        <span class="v114_6">Payment Amount:</span>
        <span class="v116_13">8995.00</span>
        <span class="v115_10">Discount: </span>
        <ion-icon name="arrow-back" class="v1383_395" routerLink="/moredetails"></ion-icon>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v1383_398">
            <div class="name"></div>
        </div>
        <div class="v1383_452">
            <div class="name"></div>
        </div>
        
    </div>
</body>
</ion-content>
