
<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <div class="v186_43">
    <div class="v186_48"></div>
    <div class="v186_72">
        <div class="v186_73"></div>
        <span class="v186_76">Congratulations! You've been rewarded! </span>
    </div>
    <div class="v946_249">
        <div class="v946_250"></div>
        <span class="v946_252">You’re booking is ACCEPTED!</span>
    </div>
    <div class="v946_254">
        <div class="v946_255"></div>
        <span class="v946_257">You're booking has been DECLINED </span>
    </div>
    <div class="v946_259">
        <div class="v946_260"></div>
        
        <span class="v946_262">Congratulations! You've been rewarded! </span>
    </div>
    <div class="v946_265">
        <div class="v946_266"></div>
        <span class="v946_268">Congratulations! You've been rewarded! </span>
    </div>
    <div class="v946_270">
        <div class="v946_271"></div>
        <span class="v946_273">Congratulations! You've been rewarded! </span>
    </div>
    <div class="v946_302">
        <div class="v946_303"></div>
        <span class="v946_305">Congratulations! You've been rewarded! </span>
    </div>
    <div class="v1">
      <div class="v2"></div>
      <span class="v3">You’re booking is ACCEPTED!</span>
  </div>
  <div class="v5">
    <div class="v6"></div>
    <span class="v7">You’re booking is ACCEPTED!</span>
</div>
<div class="v9">
  <div class="v10"></div>
  <span class="v11">You’re booking is ACCEPTED!</span>
</div>
    <ion-icon name="notifications-circle" class="v946_309"></ion-icon>
    <ion-icon name="notifications-circle" class="v946_310"></ion-icon>
    <ion-icon name="notifications-circle" class="v946_311"></ion-icon>
    <ion-icon name="notifications-circle" class="v946_312"></ion-icon>
    <ion-icon name="notifications-circle" class="v946_313"></ion-icon>
    <ion-icon name="notifications-circle" class="v946_314"></ion-icon>
    <ion-icon name="notifications-circle" class="v4"></ion-icon>
    <ion-icon name="notifications-circle" class="v946_319"></ion-icon>
    <ion-icon name="notifications-circle" class="v8"></ion-icon>
    <ion-icon name="notifications-circle" class="v12"></ion-icon>
    <ion-icon name="arrow-back" class="v1386_591" routerLink="/select"></ion-icon>
      </div>
        <span class="v1386_592">Notifications</span>
        <div class="v1386_596">
            <div class="name"></div>
        </div>
</ion-content>
